<template>
    <h4>${note.title}</h4>
    <p>${note.content}</p>
    <p>Labels:</p>
    <ul>
        <li repeat.for="label of note.labels">
            ${label.label}
        </li>
    </ul>
    <a route-href="route: notes-form; params.bind: {id:note._id}">Edit note</a>
</template>