<template>
    <h2>${message}</h2>
    <input type="text" placeholder="Note title" value.bind="note.title">
    <br>
    <textarea type="text" placeholder="Note content" value.bind="note.content"></textarea>
    <br>
    <select value.bind="note.labels" multiple>
        <option repeat.for="label of labels" model.bind="label._id">${label.label}</option>
    </select>
    <hr>
    <a click.delegate="save()">Save</a>
    
    <a if.bind="note._id" route-href="route: notes-detail; params.bind: {id:note._id}">Cancel</a>
    <a if.bind="!note._id" route-href="route: notes-list;">Cancel</a>
</template>