<template>
    <h3>${message}</h3>
    <ul>
        <li repeat.for="note of notes">
            <a route-href="route: notes-detail; params.bind: {id:note._id}">${note.title}</a>
        </li>
    </ul>
    ${state.syncState}
</template>