<template>
    <h4>${label.label}</h4>
    <a route-href="route: labels-form; params.bind: {id:label._id}">Edit label</a>
    <p>Notes for this label</p>
    <ul>
        <li repeat.for="note of notes">
            ${note.title}
        </li>
    </ul>
</template>