<template>
    <h2>${message}</h2>
    <input type="text" placeholder="Label name" value.bind="label.label">
    <a click.delegate="save()">Save</a>
    
    <a if.bind="label._id" route-href="route: labels-detail; params.bind: {id:label._id}">Cancel</a>
    <a if.bind="!label._id" route-href="route: labels-list;">Cancel</a>
</template>