<template>
    <h3>${message}</h3>
    <a route-href="route: labels-form; params.bind: {id: 'new'}">New Label</a>
    <ul>
        <li repeat.for="label of labels">
            <a route-href="route: labels-detail; params.bind: {id:label._id}">${label.label}</a>
        </li>
    </ul>
</template>