<template>
  <h1>${message}</h1>
  <div>
    <a route-href="route: notes-list;">Notes</a>
    <a route-href="route: labels-list;">Labels</a>
  </div>
  <div>
    <router-view></router-view>
  </div>
</template>